@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

body {
  overflow-y: scroll;
  /* Enable vertical scrolling */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  font-family: 'Inter', Helvetica;  /* Updated to use Inter with Helvetica as fallback */
  /* Hide the vertical scrollbar */
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For IE and Edge */
  font-size: small;
}

body::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}